.Navbar {
  display: flex;
  box-sizing: border-box;
  height: 10%;
  width: 100%;
  background-color: var(--color-gray);
  align-items: center;
  padding: 10px;
}

.Logo {
  width: 70px;
  height: 70px;
  margin-right: 5px;
  margin-left: 10px;
}

.BrandName {
  display: inline-block;
  font-size: 3rem;
  margin: 0;
}
