:root {
  --color-gray: #ddd9d9;
  --color-dark-gray: #2e2d2d;
  --color-white: #ffffff;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
